<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktdsuniversity.edu.todo_list.bbs.dao.TodoDao">

	<resultMap id="todoVOMap" 
	           type="com.ktdsuniversity.edu.todo_list.bbs.vo.TodoVO"
	           autoMapping="true">
		<id column="ID" property="id" />
		<association property="memberVO"
					 javaType="com.ktdsuniversity.edu.todo_list.member.vo.MemberVO"
					 autoMapping="true">
			<id column="EMAIL" property="email" />
		</association>
	</resultMap>
	
	<!-- 사용 할 쿼리를 작성함 -->
	<select id="selectAllTodo" parameterType="string" resultMap="todoVOMap">
		SELECT T.ID
	         , T.ISCOMPLETE
	         , T.CTT
	         , TO_CHAR(T.DEADLINE, 'YYYY-MM-DD') DEADLINE
	         , M.NAME
	      FROM TODO T
	     INNER JOIN MEMBER M
	        ON T.EMAIL = M.EMAIL
	     WHERE T.EMAIL = #{_parameter}
	     ORDER BY ID
	</select>
    
    <insert id="insertNewTodo" parameterType="com.ktdsuniversity.edu.todo_list.bbs.vo.WriteTodoVO">
    	INSERT INTO TODO
              (ID
             , ISCOMPLETE
             , CTT
             , DEADLINE
             , EMAIL)
             VALUES
              (TODO_PK_SEQ.NEXTVAL
             , 0
             , #{ctt}
             , TO_DATE(#{deadline}, 'YYYY-MM-DD')
             , #{email})
    </insert>
    
    <update id="updateTodo" parameterType="com.ktdsuniversity.edu.todo_list.bbs.vo.UpdateAndDeleteTodoVO">
    	UPDATE TODO 
           SET ISCOMPLETE = ISCOMPLETE + 1
         WHERE ID = #{id}
           AND EMAIL = #{email}
    </update>
    
    <delete id="deleteTodo" parameterType="com.ktdsuniversity.edu.todo_list.bbs.vo.UpdateAndDeleteTodoVO">
    	DELETE FROM TODO
 		 WHERE ID = #{id}
 		   AND EMAIL = #{email}
    </delete>
    
</mapper>